.people-in-tech {
	height: 41px;
	width: 228px;
	color: #050D17;
	opacity: 100;
	font-family: "SF Pro Display";
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
	text-align: center;
}

.designers {
	height: 37px;
	width: 144px;
	font-family: "SF Pro Display";
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
}

.developers {
	height: 37px;
	width: 160px;
	font-family: "SF Pro Display";
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
}

.entrepreneurs {
	height: 37px;
	width: 202px;
	font-family: "SF Pro Display";
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
	margin-right: 10px;
}


.marketers {
	height: 37px;
	width: 144px;
	font-family: "SF Pro Display";
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
	margin-right: 10px;
}

.managers {
	height: 37px;
	width: 142px;
	font-family: "SF Pro Display";
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
	margin-right: 10px;
}


ul {
	list-style-type: none;
}

.oval {
	height: 41px;
	width: 41px;
	border-radius: 50px;
}

.mask {
	box-sizing: border-box;
	height: 56px;
	width: 80%;
	border: 1px solid #D6DDE3;
	border-radius: 3.38px;
	background-color: #FFFFFF;
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 10px;
}

.searchbar {
	height: 53px;
	width: 80%;
	border: none;
	outline: none;
	background-color: #FFFFFF;
	border: 1px solid #D6DDE3;
	margin-right: 0;
	padding-right: 0;
}

.rectangle {
	margin-left: 0;
	height: auto;
	width: 100%;
	background-color: #2A88FF;
}


.profile-card {
	height: 100%;
	width: 90%;
	padding: 10px 10px;
	border-radius: 7px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 9px 5px rgba(128, 128, 128, 0.08);
	margin-left: 20px;
	margin-right: 20px;
}

li a {
	text-decoration-line: none !important;
	opacity: 0.43;
	color: #A0A0A1;


}

li a:hover,
li a:active,
li a:visited {
	text-decoration-line: none !important;
	color: #050D17;
	opacity: 100;
}

.results {
	margin: 10px 10px;
}

.oval {
	height: 41px;
	width: 41px;
}

.shape {
	height: 30px;
	width: 30px;
	margin-left: -5px;
}

h6 {
	font-size: 0.9em;
}

.about {
	font-size: 80%;
}

.tags {
	padding: 2px 5px;
	height: 8%;
	width: auto;
	font-size: 90%;
	border-radius: 11.84px;
	background-color: #F5F8FA;
	border: none;
	text-align: justify;
	color: #657786;
}

.tags a {
	color: #657786;
	text-decoration-line: none;
}

.twitterlink {
	color: #2F89FC;
}
